*filepath: english-summative-2025/style.css*

* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-image: url(EarthBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Verdana', monospace;
}
nav {
    background-color: #0f1434;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}
nav a:hover {
    background-color: #251c3a;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}
.section {
    padding: 60px 20px;
    text-align: center;
    color: #fff;
}
.section:nth-child(even) {
    background-color: rgba(63, 67, 113, 0.7);
}
.section:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.7);
}
h1 {
    font-size: 60px;
    margin: 20px 0;
    font-family: "Edu SA Hand";
}
h2 {
    font-size: 40px;
    margin: 20px 0;
}
p {
    font-size: 16px;
    margin: 20px 0;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
}
.ClimateButton {
    font-size: 30px;
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 20px;
    background-color: #0f1434;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 20px 5px #286aa0, 0 0 20px 4px #05184b;
}